extends layout

block content
	#adduser.mainbox
		a(href="/login") Back
		h1 Add User 
		p Please fill out info.
		form(action='/adduser', method='post')
			ol
				li
					| username
					input#username(type='text', name='username')
				li
					| password
					input#password(type='password', name='password')
				li
					| admin?
					input#admin(type='checkbox', name='admin')
				li
					| email
					input#email(type='text', name='email')
				li: input#submit(type='submit', value='submit')
			a(href='/logout') log out