extends layout

block content
	#loginpanel.mainbox
		h1= "Admin Access"
		p Please log in
		form(action='/login', method='post')
			input#username(type='text', name='username')
			input#password(type='password', name='password')
			input#submit(type='submit', value='Log In')