extends layout

block content
	#loginpanel
		h1= "Admin Access"
		p Please log in
		form(action='/')
			input#username(type='text', value='username')
			input#password(type='password', value='password')
			input#submit(type='submit', value='Log In')
			