extends layout

block content
	#welcome.mainbox
		h1 Hello #{userinfo.username}, 
		p Please select an action.
		ul
			li: a(href='') Create a new API Keys
			li: a(href='') Manage API Keys
		a(href='/logout') log out