body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

a {
  color: #00B7FF;
}

#loginpanel {
	background-color: #fff;
	padding: 75px 50px;
	
	width: 350px;
	margin: 0 auto;
	margin-top: 100px;

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}